.ui.feed
  %h4.ui.header Followers Activity
  .event
    .content
      .summary
        %em Elliot Fu
        testing again
  .event
    .content
      .summary
        %em Stevie Feliciano
        testing stuff
  .event
    .content
      .summary
        %em Helen Troy
        I loves food
        %em Christian Rocha
        test message
  .event
    .content
      .summary
        %em Christian Rocha
        test message
  .extra.content
    %form.ui.reply.form
      .field
        .ui.fluid.icon.input
          %input{:type => "text", :placeholer => "Enter a message"}
          %i.bordered.inverted.olive.edit.icon

