.ui.feed
  %h4.ui.header 
    Followers Activity
    = render @messages
  .extra.content
    %form.ui.reply.form
      .field
        .ui.fluid.icon.input
          %input{:type => "text", :placeholer => "Enter a message"}
          %i.bordered.inverted.olive.edit.icon

