.ui.vertical.inverted.menu
  %a.active.teal.item 
    Inbox
    .ui.teal.left.pointing.label 1
  %a.item 
    Spam
    .ui.label 51
  %a.item 
    Updates
    .ui.label 7
  .item
    .ui.transparent.icon.input
      %input{:type => "text", :placeholder => "Search mail . . ."}
      %i.search.icon
