@import "semantic-ui";

.chatbox {
    height: 750px;
}


// positioning
.mt-10 {margin-top: 10px;}
.mb-10 {margin-bottom: 10px;}
.mt-5 {margin-top: 5px;}
.mb-5 {margin-bottom: 5px;}


// rewriting semantic
.ui.menu {
    margin-top: 0;
}

.ui.small.feed {
    height: 100%;
}

.chatbox .extra.content {
    position: absolute;
    bottom: 0;
    margin-bottom: 6px;
    padding: 4px;
    border: 0px solid lightgrey;
    border-top-width: 1px;
    width: 94%;
}
