.ui.small.inverted.menu
    .ui.container
        %a.active.item{:href => "/"} Chatroom
        %a.item Messages
        .right.menu
            %a.item Log out
            %a.item{:href => "/login"} Log in
            .item
                .ui.button.olive Sign Up